body{
background-image: url("../assets/bg.png");
  font-family: "Quicksand",sans-serif;

}

.mini-body{
 margin:5% ;
}

.nav-links{
    display: flex;
justify-content: center;
align-items: center;
}
.logo{
    display: flex;
    flex: 1;
}
.links{
    display: flex;
    flex: 1.5;
    gap: 3%;

}
.links > a {
    text-decoration: none;
}
button.btn{
 background-color: rgba(254, 163,1,1);  
color: white;
height: fit-content;
text-align: center;
padding: 2%;
font-size: larger;
max-width: 27%;
border-radius: 8px;
border: none;
}
/* hero section 1 */
 .hero{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-top: 5%;
 }

 .hero-desc > h1{
  font-size: 58px;
 }

 .orange-txt{
color: rgba(254, 163,1,1);  
    
 }
  .blue-txt{
    color: rgb(173, 217, 231);
  }

.p{
    font-size: larger;
    opacity: 0.7;
}

.enroll{
    background-color: black;
    color: white;
    padding: 4%;
    font-size: larger;
    border-radius: 18px;
}

/* curriculum */

.curriculum{
    margin-top: 15%;
}
.curriculum > h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 7%;
}
.curriculum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.blue {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #d6ffff 0.1%,   /* gradient ends at 25% */
    #ffffff 45%,
    #ffffff 1100%
  );
  border: solid #d6ffff;
  border-radius: 18px;
  padding: 15%;
}
